@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This is an application made as part of a bachelor's theses.<br /><br />

    It is an application for creating small surveys, which takes<br />
    little effort to answer.<br /><br />

    The creators is bachelor's group BO19G21 from Østfold University College.<br /> 
    The employer who ordered this project is Infotjenester AS, department Grålum, Østfold.<br /> 
</p>
