@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h3>Developers</h3>

<address>
    <strong>Marius Rogndalen Karlsen:</strong> <a href="mailto:mariuka@hiof.no">mariuka@hiof.no</a><br />
    <strong>Jørgen Alexander Sæter:</strong> <a href="mailto:jorgensa@hiof.no">jorgensa@hiof.no</a>
</address>