@model IEnumerable<WebApp.Models.SurveyQuestion>

@{
    ViewBag.Title = "Survey Questions";
}

<h2>Survey Questions Overview</h2>

<p>
    @Html.ActionLink("Create New", "CreateSurveyQuestion")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Survey.SurveyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
    </tr>

    
</table>
